{% extends 'main.html' %}

{% block title %}Create new event{% endblock %}

{% block content %}
  <form method="post" action=""> <!-- TODO new_event -->
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" name="name" id="name"> <br>
    <label for="typeonline">Type online:</label>
    <input type="Checkbox" name="typeonline" id="typeonline"> <br>
    <label for="typefysical">Type fysical:</label>
    <input type="Checkbox" name="typefysical" id="typefysical"> <br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location"> <br>
    <label for="startdatetime">Date from:</label>
    <input type="datetime-local" name="startdatetime" id="startdatetime"> <br>
    <label for="enddatetime">Date till:</label>
    <input type="datetime-local" name="enddatetime" id="enddatetime"> <br>
    <label for="name">Organizer:</label>
    <input type="organizer" name="organizer" id="organizer"> <br>
    <label for="name">Photo:</label>
    <input type="file" name="upload" accept="*">
    <label for="descr">Description:</label>
    <input type="text" name="descr" id="descr"> <br>
    <button type="submit">Create</button>
  </form>
{% endblock %}